.header-right {
    float: right;
    display: flex;
    align-items: center;
}

.user-name {
    margin-right: 10px;
}

.user-avatar {
    background-color: #5290d1;
    margin-left: 10px;
    margin-right: 10px;
}

.ant-dropdown-menu-item:hover {
    color: #1890ff;
    cursor: pointer;
}
